.layout {
  height: 100vh;

  .header {
    height: 5em;
    width: 100vw;
    position: absolute;
    top: 0;
  }

  .main {
    padding-top: 5em;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
