.layout {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main';
  height: 100vh;
  .header {
    grid-area: header;
    .nav-content {
      display: flex;
      align-items: center;
    }
  }
  .main {
    grid-area: main;
    background-color: white;
    color: black;
    overflow-x: hidden;
    overflow-y: auto;
    div {
      height: 200vh;
    }
  }
}