@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-primary {
    @apply bg-primary rounded text-light bg-opacity-90;
  }
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 550;
}

p {
  font-size: 1rem;
}

a {
  color: #004E98;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 0.375rem 0.75rem;
  font-weight: 500;
}
